[alias]
  co = checkout
  cm = commit
  st = status
  br = branch
  ac = !git add -A && git commit
  ame = commit --amend --no-edit
  branches = branch -a
  tags = tag -l
  f = fetch --prune
  undo = reset HEAD~1 --mixed
  unstage = reset HEAD -- .

[push]
  default = current

[include]
  path = ~/.gitconfig.local